
html {
  margin: 0px;
  border: 0;
  padding: 0;
}
.btn-warning, .btn-warning:active,
.btn-warning:visited, .btn-warning:focus,
.btn-warning:active:focus {
    background-color: #FC7E27;
    border-color: #FC7E27}

.btn-warning:hover {
    background-color: #ea700c;
    border-color: #ea700c}

.img-max {
      max-width: 500px;
    }

div#back {
      display:none;
    }

#af_brand{
  height: 75px;
  padding-right: 5px;
}


.transbox {
  margin: 30;
  background-color:white;
  opacity: .6;
}

.transbox p h3 {
  margin: 5%;
  color:black;
}

.carousel-caption h3 {
    font-weight: bold;
    font-size: 1.2em; 
}

.carousel-caption p {
  font-weight: bold;
    font-size: 1em; 
}

/* 
@media (min-width: 576px) { 
  .carousel-caption h3 { font-size: 1.3em;}
  .carousel-caption p {font-size: 1.1em;}  
}
@media (min-width: 768px) {
  .carousel-caption h3 { font-size: 1.4em;}
  .carousel-caption p {font-size: 1.2em;}  
}
@media (min-width: 992px) { 
  .carousel-caption h3 { font-size: 1.5em;}
  .carousel-caption p {font-size: 1.3em;}  
}
@media (min-width: 1200px) { 
  .carousel-caption h3 { font-size: 1.6em;}
  .carousel-caption p {font-size: 1.4em;}  
}   */
