
body {
  margin: 0px;
  border: 0;
  padding: 0;
  text-align: center;
}

.neg_margin {
  margin-top: -51px;
  margin-left: 50px;
}

.navbar-brand {
  margin-right: 0px;
  margin-bottom: 20px;
}

#af_brand{
  height: 75px;
  line-height: 0;
}


.dropdown-menu {
  /* border-radius: 0rem;
  text-align: right; */
  background-color: lightgray;
}

.dropdown-item:hover {
  background-color: gray;
}

/* .dropdown:hover>.dropdown-menu {
  display: block;
} 
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
} */
.navbar-nav li:hover .dropdown-menu {
  display: block;
}

.transparent_box {
  max-width: 70%;
  background: rgba(255,255,255,0.3);
  color:white;
}

.transparent_box h1 p {
  margin: 10%;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-weight: 400;
}

.card-footer {
  background: transparent;
  border-top: 0px;
  padding-bottom: 30px;
}

.carousel-caption h3 {
    font-weight: bold;
    font-size: 1.2em; 
}

.carousel-caption p {
  font-weight: bold;
    font-size: 1em; 
}

/* .col-sm {
  position: relative;
  font-weight: bold;
  text-align: center;
  color:black;
  margin-bottom: 30px;
} */

img .social{
  height: 40px;
}

.centered {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbo_page {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

}

.sponsors {
  margin:30px 0px;
  padding: 10px;
  text-align: center;
  background-color:#868e96;
  width: 100%;
}

.footer {
  /* position: absolute;
  bottom: 0; */
  padding:20px;
  font-weight: 100;
  width: 100%;
  /* height: 200px; */
  background-color: #868e96;
}

/* Style all font awesome icons */
.social {
  height: 40px;
}

/* Add a hover effect if you want */
.social:hover {
  opacity: 0.7;
}

/* 
@media (min-width: 576px) { 
  .carousel-caption h3 { font-size: 1.3em;}
  .carousel-caption p {font-size: 1.1em;}  
}
@media (min-width: 768px) {
  .carousel-caption h3 { font-size: 1.4em;}
  .carousel-caption p {font-size: 1.2em;}  
}
@media (min-width: 992px) { 
  .carousel-caption h3 { font-size: 1.5em;}
  .carousel-caption p {font-size: 1.3em;}  
}
@media (min-width: 1200px) { 
  .carousel-caption h3 { font-size: 1.6em;}
  .carousel-caption p {font-size: 1.4em;}  
}   */
